OWNER_PHONE=905XXXXXXXXX
REDIS_URL=https://your-db-name.upstash.io
REDIS_TOKEN=your_upstash_redis_rest_token
SHEETS_ID=your_google_sheets_id
GOOGLE_CREDS_JSON={"type":"service_account","project_id":"...","private_key":"...","client_email":"...@....iam.gserviceaccount.com"}
PANEL_PASSWORD=your_panel_password
PORT=10000
